<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Form Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid mt-3">
        <h4 class="mb-2">Complex Form</h4>
        <form>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="myEmail">Tên</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-sm-6">
                    <label for="myPassword">Thành Phố</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Địa chỉ</label>
                <input type="text" class="form-control" id="myAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="myCity">Chủ Sở Hữu</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label for="myState">Số Giấy Phép</label>
                    <input class="form-control">

                    </input>
                </div>
                <div class="form-group col-sm-2">
                    <label for="myZip">Tổng số sàn</label>
                    <input type="text" class="form-control" id="myZip">
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        Hình ảnh
                    </label>
                    <input type="file" name="image" class="form-control-file">
                </div>
            </div>
            <a class="btn btn-primary" href="/">Trở Về</a>
            <button class="btn btn-primary" type="submit" style="height: 39px">Thêm</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>