<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bootstrap Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-dark fixed-top">
            <h5 style="color: white;size:10%">designed by soanlv</h5>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/cates" style="color: white">
                        <img src="./images/logout.png" />
                        C.Tới quản lí các danh mục</a>
                </li>
            </ul>
        </nav>
        <h4>Danh Sách Các Sản Phẩm:</h4>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th style="width: 10%">Tên khách sạn</th>
                        <th style="width: 10%">Thành phố </th>

                        <th style="width: 10%">Địa chỉ</th>
                        <th style="width: 10%">Chủ Sở Hữu</th>
                        <th style="width: 10%">Số Giấy Phép</th>
                        <th style="width: 10%">Tổng số sàn</th>
                        <th style="width: 30%">Ảnh</th>
                        <th style="width: 10%"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>tên nà</td>
                        <td>thành phố nà
                        </td>
                        <td>địa chỉ nà</td>
                        <td>
                            chủ nà
                        </td>
                        <td>
                            số giấy phép nà
                        </td>
                        <td>
                            số sàn nà

                        </td>
                        <td>
                            <img style="width: 80%" src="./images/demo.jpg" />
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/products/edit">Sửa</a>
                            <a style="margin-top: 5px" class="btn btn-primary" href="#">Xóa</a>
                        </td>
                    </tr>
                      <tr>
                        <td>1</td>
                        <td>tên nà</td>
                        <td>thành phố nà
                        </td>
                        <td>địa chỉ nà</td>
                        <td>
                            chủ nà
                        </td>
                        <td>
                            số giấy phép nà
                        </td>
                        <td>
                            số sàn nà

                        </td>
                        <td>
                            <img style="width: 80%" src="./images/demo.jpg" />
                        </td>
                        <td>
                            <a class="btn btn-primary" href="/products/edit">Sửa</a>
                            <a style="margin-top: 5px" class="btn btn-primary" href="#">Xóa</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <a class="btn btn-primary" href="/add_hotel">Thêm Sản Phẩm</a>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>

</html>